:root {
    --color-one: #EFEFEF;
    --color-two: #67737A;
    --color-three: #202135;
    --color-four: #75C2F0;
    --color-five: #A020F0;
}

@font-face {
    font-family: 'Ezra';
    src: url('/assets/fonts/fonnts.com-Elza_Text.otf') format('opentype');
    font-weight: normal;
}

@font-face {
    font-family: 'Ezra Medium';
    src: url('/assets/fonts/fonnts.com-Elza_Medium.otf') format('opentype');
}

@font-face {
    font-family: 'Ezra Semibold';
    src: url('/assets/fonts/fonnts.com-Elza_Text_Semibold.otf') format('opentype');
    font-weight: bold;
}

body {
    margin: 0;
    width: 100%;
}
#about-us {
    display: flex;
    justify-content: center;
    align-items: center;
    justify-self: center;
    width: 80%;
}
nav {
    background-color: var(--color-one);
    width: 100%;
    z-index: 99999;    height:50px;
    display:flex;
    justify-content: flex-end;
}
nav ul {
    display: flex;
    justify-content: flex-end;
    list-style: none;
    align-items: center;
    padding: 0;
    margin: 0;
}
nav ul li {
    margin: 0 20px;
}
nav ul li a {
    text-decoration: none;
    color: var(--color-three);
    font-family: 'Ezra Medium', sans-serif;
    font-size: 18px;
}
.row {
    display: flex;
    margin-top:40px;
}
.row.column {
    flex-direction: column;
}
.column {
    
}
.row-text {
    padding-left: 20px;
    color: var(--color-three);
}
.center {
    text-align: center;
   
}
.justify-center {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}
.center * {
    text-align: center;
}
h2 {
    font-family: 'Ezra Medium', sans-serif;
    color: var(--color-three);
    font-size: clamp(24px, 3vw, 32px);
}
h3 {
    font-family: 'Ezra Medium', sans-serif;
    color: var(--color-three);
    font-size: clamp(20px, 2.5vw, 28px);
}
.card {
    margin: 20px;
    padding:20px;
    width: 20%;
    min-width: clamp(250px, 30vw, 350px);
    border-radius: 30px;
box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
height:250px;
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
    transition-duration: 0.3s;
}
.card h3 {
    font-family: 'Ezra', sans-serif;
    color: var(--color-three);
    font-size: 24px;
}
.card p {
    font-family: 'Ezra', sans-serif;
    color: var(--color-two);
    font-size: clamp(16px, 2vw, 20px);
}
p {
    font-family: 'Ezra', sans-serif;
    color: var(--color-three);
    font-size: clamp(12px, 2vw, 20px);
}
.gray {
    background-color: var(--color-one);
   
}
.row p {
    width: 100%;
}
.row img {
    max-width: 500px;
    
    height: auto;
    margin: 24px;
    width: 100%;
    min-width: clamp(250px, 30vw, 350px);
}
#contact-us {
    height:100vh;
    max-height: 300px;
}
.row-img {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.row a {
    text-decoration: none;
    background-color: var(--color-five);
    padding:16px;
    border-radius: 30px;
    color: var(--color-one);
    font-family: 'Ezra Medium', sans-serif;
    font-size: 18px;
    
}

header img {
    max-height: fit-content !important;
    max-width: fit-content !important;
    filter: invert(100%);
    width: 100%;
}

header h1 {
    font-family: "Ezra Semibold", sans-serif;
}

header {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 80vh;
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url('assets/placeholder-banner.gif');

    color: var(--color-one);
    padding: 20px;
    text-align: center;
}
.card-img {
    border-radius: 20px;
    /* border: 7px solid var(--color-three); */
    filter:drop-shadow(4px 8px 8px rgba(0, 0, 0, .2))
}
.cta-header {
    color:var(--color-one);
}
.black {
    color:var(--color-three) !important
}
.card:hover {
    transform: scale(1.05);
    transition: transform 0.3s ease;
}

.input-field {
    padding: 12px;
    margin: 8px 0;
    border: 1px solid var(--color-two);
    border-radius: 30px;
    width: 250px;
    font-family: 'Ezra', sans-serif;
    font-size: 16px;
}
.input-field-button {
    padding: 12px;
    margin: 8px 0;
    border: none;
    border-radius: 30px;
    width: 250px;
    font-family: 'Ezra Medium', sans-serif;
    font-size: 16px;
    background-color: var(--color-five);
    color: var(--color-one);
    cursor: pointer;
}
@media screen and (max-width: 768px) {
    .row {
      flex-wrap: wrap;
    }
    #contact-us {
    justify-content: center;
}
}
@media screen and (max-width: 480px) {
  
    .card {

        margin:0;
    }
    header h1 {
        font-size: 32px;
    }
    
    nav ul li {
        margin: 0 10px;
    }
    
    nav ul li a {
        font-size: 16px;
    }
    
    .row-text {
        padding-left: 10px;
    }
    
    .row img {
        max-width: 85%;
        margin: 12px;
    }
    .end {
        margin-right: 0;
    }
    
}